@import '../commons/commons.scss';

// LandingPage scss
.LandingContainer {
  background: $bodyColor;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;

  // TrailerPoster scss
  .trailerContent {
    .trailer-card {
      margin-top: 1rem;

      .trailer-poster {
        display: flex;
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;
        margin-bottom: 1rem;

        .trailer-title {
          margin-left: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-start;
          cursor: pointer;
          color: white;

          span {
            font-size: 2rem;
            font-weight: bold;
          }

          .play-icon {
            font-size: 3.5rem;
          }
        }
      }

      &:hover {
        .trailer-title {
          color: $mainColor;
        }
      }
    }

    // Modal scss
    .trailer_modal_contaier {
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 10;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 15;

      .trailer_modal {
        padding: 2rem;
        width: 1024px;
        height: 800px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: $navColor;

        h1 {
          color: #fff;
        }

        .modal_overview {
          margin-top: 1rem;
          font-size: 1rem;
          color: #fff;
        }

        .modal_overview.clamp {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }

        .clamp-icon {
          color: #fff;
          font-size: 2rem;
          align-self: center;
          cursor: pointer;

          &:hover {
            color: $mainColor;
          }
        }

        .modal_close_btn {
          color: #fff;
          font-size: 2rem;
          position: absolute;
          right: 2rem;
          cursor: pointer;

          &:hover {
            color: $mainColor;
          }
        }
      }
    }
  }

  // TopMovie scss
}

@media screen and(max-width: 1240px) {
  .LandingContainer {
    .trailerContent {
      .trailer_modal_contaier {
        .trailer_modal {
          width: 768px;
          height: 700px;

          .modal_overview {
            font-size: 14px;
          }

          h1,
          .modal_close_btn {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 930px) {
  .LandingContainer {
    .trailerContent {
      .trailer_modal_contaier {
        .trailer_modal {
          width: 568px;
          height: 600px;

          .modal_overview {
            font-size: 13px;
            overflow: scroll;
          }

          h1,
          .modal_close_btn {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 668px) {
  .LandingContainer {
    .trailerContent {
      .trailer_modal_contaier {
        .trailer_modal {
          width: 368px;
          height: 400px;

          .modal_overview {
            font-size: 12px;
            overflow: scroll;
          }

          h1,
          .modal_close_btn {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .LandingContainer {
    padding: 8px;
    .trailerContent {
      h1 {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .trailer-card {
        .trailer-poster {
          .trailer-title {
            span {
              font-size: 1rem;
              font-weight: bold;
            }

            .play-icon {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}
