$bodyColor: #000000;
$mainColor: #fdd835;
$navColor: rgb(26, 26, 26);
$loginColor: #616161;

input {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bodyColor;
}
