@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
$bodyColor: #000000;
$mainColor: #fdd835;
$navColor: rgb(26, 26, 26);
$loginColor: #616161;
$CategorySubColor: #bdbdbd;
$heartColor: #ff8a80;
$rageColor: #448aff;

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

input {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  all: unset;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bodyColor;
}

.category {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  .ColBar {
    display: inline;
    border: 3px solid $mainColor;
    border-radius: 5px;
    margin-right: 7px;
  }
}

.subCategory {
  color: $CategorySubColor;
  font-size: 1rem;
}
