@import '../commons/commons.scss';

.navContainer {
  display: flex;
  align-items: center;
  background: $navColor;
  padding: 8px 5rem;
  justify-content: space-between;

  .logo {
    a {
      color: $mainColor;
      font-weight: bold;
      font-size: 1rem;
      border: 3px solid $mainColor;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      background: $bodyColor;
    }
  }

  .menu {
    color: white;
    display: flex;
    position: absolute;
    right: 32px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    .toggle-icon {
      display: none;
    }
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;

    li {
      padding: 8px 12px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 300ms ease;

      &:hover {
        color: $mainColor;
      }
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 100%;
        background: white;
        height: 30px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-indent: 7px;
        color: $bodyColor;
      }

      .search-icon {
        background: white;
        font-size: 2rem;
        padding-right: 10px;
        height: 30px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $navColor;
        cursor: pointer;

        &:active {
          color: $mainColor;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 3rem;

    .nav-menu {
      display: none;
      margin-top: 1rem;
      flex-direction: column;
      align-items: center;
      width: 100%;

      li {
        width: 100%;
      }
    }

    .menu .toggle-icon {
      display: block;

      &:active {
        color: $mainColor;
      }
    }

    .nav-menu.active {
      display: flex;
      animation: fadeIn 3s forwards;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
